*.mode1v3
*.pbxuser
build/
build/*
*.build/
obj/
*.o
openFrameworks.a
openFrameworksDebug.a
openFrameworksUniversal.a
*.app/`
DerivedData

#codeblocks files
apps/*/*/*.layout
apps/*/*/*.depend
apps/*/*/bin/clickToLaunch*
apps/*/*/bin/libs
apps/*/*/obj

#codeblocks OF lib files
libs/openFrameworksCompiled/project/*/*.depend
libs/openFrameworksCompiled/project/*/*.layout

#linux temporary files
*~

#eclipse build folders
#Mac OS X
addons/Debug Mac OS X
addons/Release Mac OS X
libs/openFrameworks/Debug Mac OS X
libs/openFrameworks/Release Mac OS X
apps/*/*/Debug Mac OS X
apps/*/*/Release Mac OS X
.DS_Store

#Linux
addons/Debug Linux
addons/Release Linux
libs/openFrameworks/Debug Linux
libs/openFrameworks/Release Linux
apps/*/*/Debug Linux
apps/*/*/Release Linux
apps/*/*/Debug Linux64
apps/*/*/Release Linux64

=======
Debug*/
Release*/
build/
obj/
*.app/
.svn/
*.perspectivev3
*.pbxuser
*.mode*
*.xcworkspace
xcuserdata/
releases/*

.DS_Store

#Win32
*.exe
*.pdb
*.dll
*.opensdf
*.sdf
*.suo
*.lib
*.ilk
*.exp
*.ipch

Duration/bin/Duration
Duration/bin/libs/*
DurationRemote/bin/libs/*
RecordingDataGenerator/bin/RecordingDataGenerator
RecordingDataGenerator/bin/libs/*

*.cbp
*.workspace
Makefile
config.make

DurationRemote/bin/DurationRemote
